.title-cards {
  margin-block-start: 50px;
  /* margin-block-end: 30px; */
}

.title-cards h2 {
  margin-block-end: 15px;
}

.card-list {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.card-list::-webkit-scrollbar {
  display: none;
}

.card-list img {
  width: 240px;
  border-radius: 5px;
  cursor: pointer;
}

.card {
  text-decoration: none;
}

.card-list p {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-decoration: none; */
  color: white;
}